$primaryColor: #5b78ff;
$secondaryColor: #3758cc;
$greyColor: #f6f7f8;
$titleGrayColor: #0e0e58;
$pGrayColor: #27282e;
$primaryBackgroundColor: #fefefe;
$secondaryBackgroundColor: #e9ebf5;
$secondaryFlagColor: #45c777;
$errorColor: #f7404e;
